{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools %}
  <script src="http://maps.google.com/?file=api&amp;v=2&amp;key=ABQIAAAAi4xDIAJMUxaaQNZtYzpLxRTpH3CbXHjuCVmaTc5MkkU4wO1RRhSDVBhOQuW6vb2eJSEWDwSNoyy_nw" type="text/javascript"></script>
  <script type="text/javascript" src="http://localhost/mike/get_lat_lon/js/mapctrl.js"></script>
  <script type="text/javascript" src="http://localhost/mike/get_lat_lon/js/gmap.js"></script>
  <!-- insert google map -->
  <div id="wrapper" style="margin:5px"><div id="map" style="width: 800px; height: 300px"></div></div>
  <script type="text/javascript">
    latbox = "id_latitude";
    lonbox = "id_longitude";
    showMap();
  </script>
  
  {% if change %}{% if not is_popup %}
    <ul class="object-tools">
      <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
      {% if has_absolute_url %}
          <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">
              {% trans "View on site" %}</a>
          </li>
      {% endif%}
    </ul>
  {% endif %}{% endif %}
{% endblock %}

{% block after_field_sets %}
  {% if change %}
    <script type="text/javascript">
      var latitude = document.getElementById(latbox).value;
      var longitude = document.getElementById(lonbox).value;
      showLatLong(latitude, longitude);
    </script>
  {% endif %}
{% endblock %}
